body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    border-left: 50px solid #2f4f4f;
    padding-left: 25px;
}

input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding: 0;
}

em {
    font-style: italic;
}

.pros-and-cons {
    margin-bottom: 15px;
}

.actionable-insights {
    margin-bottom: 15px;
}

.work-things {
    margin-bottom: 15px;
}

.so-quotable {
    margin-bottom: 15px;
}

.lil-projectz {
    margin-bottom: 15px;
}

.glyphicon-ok {
    color: green;
    margin-right: 2%;
}

.glyphicon-remove {
    color: maroon;
    margin-right: 2%;
}

#portrait {
    width: 250px;
}

.email {
    cursor: pointer;
}

.email-label {
    color: #337ab7;
}

.email-address {
    width: 100%;
}

